{% extends 'base.twig' %}


{% block title %}

Home page Playa

{% endblock %}


{% block content %}

<div id="main">
  <div id="header">EscapeRoomGadgets</div>
       <div id="blog_page">
       </div>
  <div id="tags"></div> 
  <div id="footer">Все права защищены
  
    <h5>Экспериментальная лаборатория Escape_Room_Gadgets<h5>
  
  </div>
</div>

{% endblock %}
